{% extends 'base.html.twig' %}

{% block title %}Détail d'un employé{% endblock %}

{% block body %}
    <h1>Détail d'une employé</h1>

    <h2>{{employe}}</h2>
    <p>
        Entreprise : <a href="{{ path('show_entreprise', {'id': employe.entreprise.id})}}">{{employe.entreprise}}</a><br>
        Ville : {% if employe.ville %} {% else %} Ville non renseignée{% endif %}{{employe.ville}}<br>
        {# Date de création : {{employe.dateCreationFr}} #}
        Date de naissance : {{employe.dateNaissance | date('d-m-Y')}}
        Âge : {{employe.age}} ans<br>
        Date d'embauche : {{employe.dateEmbauche | date('d-m-Y')}}
    </p>

{% endblock %}
